<div class="form-container">
    {{ form_start(form) }}
    <form class="form form-horizontal">
        <div class="row">
            <div class="col-sm-2">
                {{ form_label(form.name) }}
            </div>
            <div class="col-sm-8">
                {{ form_widget(form.name) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                {{ form_label(form.gender) }}
            </div>
            <div class="col-sm-8">
                {{ form_widget(form.gender) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                {{ form_label(form.address) }}
            </div>
            <div class="col-sm-8">
                {{ form_widget(form.address) }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                {{ form_label(form.aboutMe) }}
            </div>
            <div class="col-sm-8">
                {{ form_widget(form.aboutMe) }}
            </div>
        </div>
        <div class="col-sm-8">
            {{ form_row(form.isActive) }}
        </div>

        <div class="form-inline">
            {{ form_widget(form.save) }}
            <a class="btn btn-warning ml-3" href="{{ path('all_users') }}" role="button">Mégse</a>
        </div>
    </form>
    {{ form_end(form) }}
</div>